@media (max-width: 768px) and (max-height: 932px) {
    .menu {
        align-items: center;
    }

    .logo img {
        width: 80px; 
        height: 80px;
        padding: 10px;
    }

    .navbar ul {
        align-items: center;
    }

    .navbar ul li a {
        font-size: 14px; 
        padding: 20px;
    }

    .home {
        height: 80vh; 
        padding: 20px;
        text-align: center; 
    }

    .imgHome img {
        width: 100%; 
        height: auto; 
        margin-left: -50px;
    }



    .imgCap img {
        width: 100%; 
        max-width: none; 
        height: 572px;        
    }

    .button-link {
        top: 30px;
        left: auto;
        position: relative; 
        transform: none;
        padding: 10px 15px; 
        font-size: 16px;
        margin-left: 70px;

    }

    footer {
        font-size: 16px; 
        text-align: center;
        padding: 10px;
        width: 100%; /* Para garantir que o footer ocupe toda a largura */
        position: fixed;
        bottom: 0;
        background-color: #0a0a0a; /* Adicione uma cor de fundo para destaque */
        color: white; /* Ajuste da cor do texto */
    }
    

    .text h1 {
        font-size: 22px; 
    }

    .text p {
        font-size: 16px; 
    }

    .imgArt img {
        width: 100%; 
        height: auto;
        border-radius: 10px; 
    }

    .navbar ul li a:hover::after {
        width: 0; 
    }
}
