* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
    font-weight: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(/assets/bgOnd.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: #0a0a0a;
    color: #ffffff; /* Melhorar contraste */
    overflow-x: hidden; /* Remover scroll horizontal */
}

.interFont {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
}


.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    padding: 0; /* Remover espaçamento */
}

.container2 {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between; /* Garantir que o footer fique no fim da página */
}



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0a0a0a;
    box-shadow: 0px 20px 100px rgb(82, 0, 0);
    width: 100%;
    z-index: 2;
    align-items: center;
}

.menu {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
    padding: 20px;
    cursor: pointer;
}




.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.navbar ul li a{
    font-size: 28px;
    position: relative; 
    padding: 20px 15px;
    text-decoration: none; 
    color: white;
    transition: color 0.3s ease;
        
}

.home {
    z-index: 1;
    height: 90vh;
    max-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar itens à esquerda */
    justify-content: center;
    text-align: center;
}

.imgHome {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Colar imagem à esquerda */
}

.imgHome img {
    width: 50vw;
    height: auto; /* Ajustar imagem */
    z-index: 10;
    position: relative;
    margin-left: 0; /* Remover margem */
}

.imgCAP {
    box-shadow: inset 0px -20px 100px rgb(82, 0, 0);
}

.imgCap img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto; /* Ajustar imagem para responsividade */
    max-width: 1080px;
}

footer {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 16;
    height: 100px;
    width: 100vw;
    box-shadow: 0px -20px 100px rgb(82, 0, 0); 
    color: #ffff;
    flex-grow: 1;
}

.copyF {
    display: flex; 
    right: 0;
    margin-left: 50px;
}

.footerHome {
    background-color: #0a0a0a;
}


.footerPags {
    background-color: #0a0a0ade;
}

.navbar ul li a:hover {
    color: #F13339;
    cursor: pointer;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0%; 
    height: 3px; 
    background-color: #F13339; 
    transition: width 0.3s ease-in-out; 
}
  
.navbar ul li a:hover::after {
    width: 100%; 
}

.clickcheck {
    color: #F13339 !important; 
}


.button-link {
    z-index: 13;
    position: absolute;
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #25D366; 
    color: white; 
    text-decoration: none; 
    padding: 20px 30px;
    border-radius: 8px; 
    font-size: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}

.button-link:hover {
    background-color: #1e9e56; 
}

.sectCAP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #0a0a0a;
}

.shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height:  130%;
    width: 100%;
    box-shadow: 0px -20px 100px rgb(82, 0, 0)  ;              
    color: #ffff;
    flex-grow: 1;
    position: absolute;
    margin-bottom:-410px;
}

.shadow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 120%;
    width: 100%;
    box-shadow: 0px -20px 100px rgb(82, 0, 0)  ;              
    color: #ffff;
    flex-grow: 1;
    position: absolute;
    margin-bottom:-410px;

}

article {
    display: flex;
    flex-direction: row;
    color: #ffff;
    width: 1440px;
    margin: 10px;
    z-index: 1;
    z-index: 1;
}

.text {
    padding: 20px;
}

.text p {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: justify;
}

.text h1 {
    font-size: 26px;
    padding-bottom: 40px
}

.imgArt img {
    margin-top: 100px;
    width: 768px;
    height: 432px;
    border-radius: 20px;
    z-index: 15;
    
}


.imgGrad {
    margin: 20px;
    z-index: 15;
}


.imgAulas {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding-bottom: 20px;
    width: 100%;
    padding: 20px 0; /* Adicionar espaçamento para evitar sobreposição */
}

.imgAulas img {
    max-width: 100%;
    height: 100%; /* Ajustar imagem para responsividade */
}

.socialMedia {
    display: flex;
    flex-direction: column;
}

.wpp a img {
    width: 32px;
    height: 32px;
}

.wpp a {
    display: flex;
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.socialMedia a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

.menu-toggle span {
    height: 2px;
    width: 25px;
    background: #ffffff;
    margin-bottom: 4px;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .navbar ul li a {
        font-size: 24px; /* Ajustar tamanho da fonte */
        padding: 15px 10px; /* Ajustar padding */
    }

    .imgHome img {
        width: 60vw; /* Ajustar largura da imagem */
    }

    .button-link {
        padding: 15px 25px; /* Ajustar padding do botão */
        font-size: 18px; /* Ajustar tamanho da fonte do botão */
    }

    .imgCap img {
        width: 80vw; /* Ajustar largura da imagem para telas médias */
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active ul {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar ul li a {
        font-size: 20px; /* Ajustar tamanho da fonte */
        padding: 10px 5px; /* Ajustar padding */
    }

    .imgHome img {
        width: 80vw; /* Ajustar largura da imagem */
    }

    .button-link {
        width: 80%; /* Ajustar largura do botão */
        padding: 10px 20px; /* Ajustar padding do botão */
        font-size: 16px; /* Ajustar tamanho da fonte do botão */
    }

    .imgAulas img {
        width: 90vw; /* Ajustar largura da imagem para dispositivos móveis */
    }

    .imgCap img {
        width: 90vw; /* Ajustar largura da imagem para dispositivos móveis */
    }
}

@media (max-width: 480px) {
    .navbar ul li a {
        font-size: 18px; /* Ajustar tamanho da fonte */
        padding: 8px 4px; /* Ajustar padding */
    }

    .imgHome img {
        width: 90vw; /* Ajustar largura da imagem */
    }

    .button-link {
        width: 90%; /* Ajustar largura do botão */
        padding: 8px 15px; /* Ajustar padding do botão */
        font-size: 14px; /* Ajustar tamanho da fonte do botão */
    }

    .imgAulas img {
        width: 100%; /* Ajustar largura da imagem para dispositivos móveis */
    }

    .imgCap img {
        width: 100%; /* Ajustar largura da imagem para dispositivos móveis */
    }
}