@media (max-width: 768px) and (max-height: 932px) {
    .menu {
        align-items: center;
    }

    .logo img {
        width: 80px; 
        height: 80px;
        padding: 10px;
    }

    .navbar ul {
        align-items: center;
    }

    .navbar ul li a {
        font-size: 14px; 
        padding: 20px;
    }

    .sectCAP {
        width: 50%; 
        height: auto;
    }

    article { 
        display: flex;
        padding-left: 200px ;
    }
    .text {
        width: 40%;
        margin-left: 150px;
    }

    .text p {
        font-size: 12px; 
    }

    .text h1 {
        font-size: 24px; 
        padding-bottom: 20px;
    }

    .imgArt { 
        display: flex;
        align-items: center;
        width: 100%;
    }

    .imgArt img {
        width: 50%;
        height: auto;
        border-radius: 10px;
        margin-right: 220px;
    }

    footer {
        font-size: 14px; 
        height: auto;
        padding: 20px;
    }

    .mediaAboutp {
        margin-bottom: 70px;
    }

}
