@media (max-width: 768px) {
    body {
        background-position: center;
        background-size: cover; 
    }

    .menu {
        align-items: center;
    }

    .logo img {
        width: 80px; 
        height: 80px;
        padding: 10px;
    }

    .navbar ul {
        align-items: center;
    }

    .navbar ul li a {
        font-size: 18px; 
        padding: 20px;
    }

    .home {
        height: auto; 
        padding: 20px;
        text-align: center; 
        margin-left: -90px;
    }

    .imgHome img {
        width: 80%; 
        height: auto; 
    }

    .imgCap img {
        width: 100%; 
        max-width: none; 
        height: 50%;
        margin-bottom: 350px;
    }

    .button-link {
        top: auto;
        left: auto;
        position: relative; 
        transform: none;
        width: auto;
        padding: 10px 15px; 
        font-size: 16px;
        margin-left: 70px;
    }

    footer {
        font-size: 16px; 
        text-align: center;
        padding: 10px;
        margin-bottom: 0;
        position: relative;
    }

    .text h1 {
        font-size: 22px; 
    }

    .text p {
        font-size: 16px; 
    }

    .imgArt img {
        width: 100%; 
        height: auto;
        border-radius: 10px; 
    }

    .navbar ul li a:hover::after {
        width: 0; 
    }
}
